name: test
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  unit_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: go build
      - uses: golangci/golangci-lint-action@v8
      - run: go test -covermode atomic -coverprofile coverage.txt
      - uses: codecov/codecov-action@v5
  spell_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: streetsidesoftware/cspell-action@v8
        with:
          files: "**/*.{md,go}"
  test:
    needs:
      - unit_test
      - spell_check
    if: always()
    runs-on: ubuntu-latest
    steps:
      - run: for result in ${{ join(needs.*.result, ' ') }}; do [ $result = success ]; done
